.mir-tab .mir-tab{
	&__question{
		font-weight: 500;
		font-size: 1.3rem;
		color: $black;
		border: 1px solid $light-gray;
		padding: 1.75rem;
		width: 91%;
		float: left;
		text-align: left;
		cursor: pointer;
	}
}