.miracle-page .miracle-page{
	&__breadcrumbs{
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
		padding: 0 2rem 1rem 1rem;

		/*======== EI =========*/

		-ms-grid-column: 2;
		-ms-grid-row: 1;
	}
}

@media only screen and (max-width: 900px){

.miracle-page .miracle-page{
	&__breadcrumbs{
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		padding: 1rem;

		/*======== EI =========*/

		-ms-grid-column: 1;
		-ms-grid-row: 2;
	}
}

}