.slide .slide{
	&__video{
		background-color: $orange;
		float: right;
		width: calc( 50% - 1.5rem );
	}
}


@media only screen and (max-width: 600px){

	.slide .slide{
		&__video{
			width: 100%;
			margin-top: 1.5rem;
		}
	}

}