.navigation{
	border-bottom: 0.1rem solid map-get($foundation-palette, 'secondary');
	&_scroll{
		background-color: rgba( $white, 0.75 );
		transition: background-color 0.3s ease 0s;
		&:hover{
			background-color: $white;
		}
	}
}



@media only screen and (max-width: 900px){
	.navigation__sticky-container{
		display: none;
	}
}