.input .input{
	&__submit{
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1;
		padding: 1.7rem 3.2rem 1.2rem;
		border-radius: 3.2rem;
		text-transform: uppercase;
		line-height: 1.25;
		color: $white;
		background-color: map-get($foundation-palette, primary);
		border: none;
		outline: none;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
		white-space: pre-line;
		&:hover{
			cursor: pointer;
			background-color: $orange;
		}
		&_yellow{
			background-color: map-get($foundation-palette, yellow);
			&:hover{
				background-color: map-get($foundation-palette, orange);
			}
		}
	}
}