.modal .modal{
	&__call-requer{
		max-width: 50rem;
		max-height: 85vh;
		overflow-y: auto;
		position: absolute;
		top: 10vh;
		left: 50%;
		transform: translateX(-50%);
		padding: 3rem;
		display: none;
		background-color: $white;
		&_show{
			display: block;
		}
	}
}


@media only screen and (max-width: 800px){

	.modal .modal{
		&__call-requer{
			max-width: 90vw;
			min-width: 35rem;
		}
	}

}