.input .input{
	&__text-input{
		font-weight: 500;
		font-size: 1.2rem;
		padding: 1.1rem 1.8rem;
		border-radius: 3.2rem;
		height: auto;
		margin-bottom: 0;
		line-height: 1.5;
		min-height: 4rem;
		&::placeholder{
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.5;
			transition: all 0.3s ease 0s;
		}
		&::-webkit-input-placeholder{
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.5;
			transition: all 0.3s ease 0s;
		}
		&:-ms-input-placeholder{
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.5;
			transition: all 0.3s ease 0s;
		}
		&:hover, &:focus{
			&::placeholder{
				font-size: 0.8rem;
				line-height: 0.8rem;
				transform: translateY(-1.25rem);
			}
			&::-webkit-input-placeholder{
				font-size: 0.8rem;
				line-height: 0.8rem;
				transform: translateY(-1.25rem);
			}
			&:-ms-input-placeholder{
				font-size: 0.8rem;
				line-height: 0.8rem;
				transform: translateY(-1.25rem);
			}
			&::-moz-placeholder{
				font-size: 0.8rem;
				line-height: 0.8rem;
				transform: translateY(-1.25rem);
			}
		}
	}
}