.archive-post .archive-post{

	&__post-card{
		padding-bottom: 3rem;
		&:nth-of-type(3n+1){
			padding-right: 2rem;
		}
		&:nth-of-type(3n+2){
			padding: 0 1rem 3rem;
		}
		&:nth-of-type(3n+3){
			padding-left: 2rem;
		}
	}

	/*======== EI =========*/
	&__post-card{
		&:nth-of-type(-n+6){
			-ms-grid-row: 2;
			&:nth-of-type(-n+3){
				-ms-grid-row: 1;
			}
		}
		&:nth-of-type(3n+1){
			-ms-grid-column: 1;
		}
		&:nth-of-type(3n+2){
			-ms-grid-column: 2;
		}
		&:nth-of-type(3n+3){
			-ms-grid-column: 3;
		}
	}
}