.archive-post .archive-post{

	&__post-card{
		padding-bottom: 3rem;
		&:nth-of-type(3n+1){
			padding-right: 2rem;
		}
		&:nth-of-type(3n+2){
			padding: 0 1rem 3rem;
		}
		&:nth-of-type(3n+3){
			padding-left: 2rem;
		}
	}

	/*======== EI =========*/
	&__post-card{
		&:nth-of-type(-n+6){
			-ms-grid-row: 2;
			&:nth-of-type(-n+3){
				-ms-grid-row: 1;
			}
		}
		&:nth-of-type(3n+1){
			-ms-grid-column: 1;
		}
		&:nth-of-type(3n+2){
			-ms-grid-column: 2;
		}
		&:nth-of-type(3n+3){
			-ms-grid-column: 3;
		}
	}
}


@media only screen and (max-width: 1100px) and (min-width: 900px){

.archive-post .archive-post{

	&__post-card{
		padding-bottom: 3rem;

		&:nth-of-type(2n+1){
			padding-right: 1rem;
			padding-left: 0;
		}
		&:nth-of-type(2n+2){
			padding-left: 1rem;
			padding-right: 0;
		}
	}

	/*======== EI =========*/
	&__post-card{
		&:nth-of-type(-n+6){
			-ms-grid-row: 3;
			&:nth-of-type(-n+4){
				-ms-grid-row: 2;
				&:nth-of-type(-n+2){
					-ms-grid-row: 1;
				}
			}
		}
		&:nth-of-type(2n+1){
			-ms-grid-column: 1;
		}
		&:nth-of-type(2n+2){
			-ms-grid-column: 2;
		}
	}
}

}


@media only screen and (max-width: 700px) and (min-width: 400px){

.archive-post .archive-post{

	&__post-card{
		padding-bottom: 3rem;

		&:nth-of-type(2n+1){
			padding-right: 1rem;
			padding-left: 0;
		}
		&:nth-of-type(2n+2){
			padding-left: 1rem;
			padding-right: 0;
		}
	}

	/*======== EI =========*/
	&__post-card{
		&:nth-of-type(-n+6){
			-ms-grid-row: 3;
			&:nth-of-type(-n+4){
				-ms-grid-row: 2;
				&:nth-of-type(-n+2){
					-ms-grid-row: 1;
				}
			}
		}
		&:nth-of-type(2n+1){
			-ms-grid-column: 1;
		}
		&:nth-of-type(2n+2){
			-ms-grid-column: 2;
		}
	}
}

}


@media only screen and (max-width: 400px){

.archive-post .archive-post{

	&__post-card{
		padding-bottom: 3rem;

		&:nth-of-type(2n+1){
			padding-right: 1rem;
			padding-left: 1rem;
		}
		&:nth-of-type(2n+2){
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	/*======== EI =========*/
	&__post-card{
		&:nth-of-type(6){
			-ms-grid-row: 6;
		}
		&:nth-of-type(5){
			-ms-grid-row: 5;
		}
		&:nth-of-type(4){
			-ms-grid-row: 4;
		}
		&:nth-of-type(3){
			-ms-grid-row: 3;
		}
		&:nth-of-type(2){
			-ms-grid-row: 2;
		}
		&:nth-of-type(1){
			-ms-grid-row: 1;
		}
		-ms-grid-column: 1;
	}
}

}