$icomoon-font-path: "fonts" !default;

$miracle-icon-construction: "\e900";
$miracle-icon-search: "\e901";
$miracle-icon-cogwheel: "\e902";
$miracle-icon-download: "\e903";
$miracle-icon-arrow-right: "\e904";
$miracle-icon-calendar: "\e905";
$miracle-icon-arrow-dots-right: "\e906";
$miracle-icon-telephone: "\e907";
$miracle-icon-left-double-chevron: "\e908";
$miracle-icon-chevron-down: "\e909";
$miracle-icon-left-duble-chevron: "\e90a";
$miracle-icon-left-chevron: "\e90b";
$miracle-icon-cancel: "\e90c";
$miracle-icon-right-chevron: "\e90d";
$miracle-icon-transport: "\e90e";
$miracle-icon-symbol: "\e90f";
$miracle-icon-clock: "\e910";
$miracle-icon-arrow: "\e911";
$miracle-icon-up-chevron: "\e912";
$miracle-icon-money: "\e913";
$miracle-icon-calculate: "\e914";
$miracle-icon-time: "\e915";
$miracle-icon-auto-feel: "\e916";
$miracle-icon-technology: "\e917";
$miracle-icon-printer: "\e918";
$miracle-icon-instagram: "\e919";
$miracle-icon-twiter: "\e91a";
$miracle-icon-youtube: "\e91b";
$miracle-icon-facebook: "\e91c";
$miracle-icon-vk: "\e91d";
$miracle-icon-google: "\e91e";

