.after-navigation .after-navigation{
	&__text-logo{
		float: left;
	}
	&__requer{
		float: left;
	}
	&__contacts-header{
		float: right;
		margin: 0.5rem 0;
	}
	&__button{
		float: right;
		margin-left: 3.1rem;
	}
}