.tech-requerement .tech-requerement{
	&__section{
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: 700;
		padding: 1.5rem 0;
		margin-bottom: 1.5rem;
		position: relative;
		color: $black;
		&:after{
			content: "";
			height: 3px;
			background-color: $blue;
			width: 100%;
			position: absolute;
			bottom: -1.5px;
			left: 0;
		}
	}
}