.input{
	width: calc( 100% / 3 - 2px );
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
	&_padding-right{
		padding-right: 2.8rem;
	}
	&_margin-right{
		margin-right: 2.8rem;
	}
	&_width-medium{
		width: calc( 100% / 3 - 1.2rem );
	}
	&_width-third{
		width: calc( ( 100% - 6.2rem ) / 3 );
	}
	&_width-big{
		width: calc( 100% / 3 + 1.5rem );
		flex: none;
	}
	&_width-expanded{
		width: 100%;
		margin-bottom: 1rem;
	}

	&_submit-center{
		margin: 0.9rem auto 0;
		display: flex;
		width: calc( 100% / 3 + 2rem );
	}

	&_submit-expanded{
		margin: 0.9rem auto 0;
		display: flex;
		width: 80%;
	}
}

@media only screen and (max-width: 900px){
	.input{
		width: 100%;
		margin-top: 1.5rem;
		padding-right: 0 !important;
		padding-left: 0 !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
}