.miracle-page .miracle-page{
	&__sidebar{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		padding: 0 2rem 0 1rem;

		/*======== EI =========*/

		-ms-grid-column: 1;
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;
	}
}