.work-card .work-card{
	&__bg{
		width: 100%;
		height: 100%;
		background-color: rgba( $blue, 0.6 );
		position: relative;
		top: calc( 100% - 5rem );
		transition: top 0.4s ease-in-out 0s;
	}
}

.work-card:hover .work-card__bg{
	top: 0 !important;
}