.company-info .company-info{
	&__info-card{

	}
}

@media only screen and (max-width: 1024px) and (min-width: 700px){

	.company-info .company-info{
		&__info-card{
			margin: 1rem 0;
			width: calc( 100% / 3 ) !important;
		}
	}

}

@media only screen and (max-width: 700px){

	.company-info .company-info{
		&__info-card{
			width: calc( 100% / 2 - 4rem) !important;
			margin: 1rem 2rem;
		}
	}

}

@media only screen and (max-width: 350px){

	.company-info .company-info{
		&__info-card{
			width: 100% !important;
			margin: 1rem 2rem;
		}
	}

}