.work-card{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	display: inline-block;
	width: calc( 100% / 3 - 3rem);
	margin: 1.3rem 1.7rem 1.3rem 1rem;
}