.requer .requer{
	&__link{
		margin: 0.5rem 0 0 1rem;
		float: left;
		text-decoration: underline;
		text-decoration-color: $dark-gray;
		text-align: left;
		color: $dark-gray;
		transition: all 0.3s ease 0s;
		&:hover{
			color: initial;
			text-decoration-color: rgba( $white, 0 );
		}
	}
}