.requer .requer{
	&__link{
		margin: 0.5rem 0 0 1rem;
		float: left;
		text-decoration: underline;
		text-decoration-color: $dark-gray;
		text-align: left;
		&:hover{
			color: initial;
			text-decoration: none;
		}
	}
}